@font-face {
  font-family: "GratoGrotesk";
  src: url("fonts/GratoGrotesk-Regular.woff2");
}

@font-face {
  font-family: "GratoGrotesk-Black";
  src: url("fonts/GratoGrotesk-Black.woff2");
}

@font-face {
  font-family: "GratoGrotesk-Bold";
  src: url("fonts/GratoGrotesk-Bold.woff2");
}

@font-face {
  font-family: "GratoGrotesk-Hair";
  src: url("fonts/GratoGrotesk-Hair.woff2");
}

@font-face {
  font-family: "GratoGrotesk-Light";
  src: url("fonts/GratoGrotesk-Light.woff2");
}

@font-face {
  font-family: "GratoGrotesk-Thin";
  src: url("fonts/GratoGrotesk-Thin.woff2");
}

.body {
  font-family: "GratoGrotesk", sans-serif;
  display: block;
  height: 100dvh;
  width: 100dvw;
  margin: 0;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "GratoGrotesk-Bold", sans-serif;
  margin: 0;
}

p {
  margin: 0;
}

.bg-container {
  z-index: -1;
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("https://daks2k3a4ib2z.cloudfront.net/57754cd33654d2b7708ae059/57754d40a8dfa30f2164b94a_ZucueBGBlur.jpg");
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.clear-image {
  z-index: -1;
  display: none;
}

.profile-box {
  border-radius: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 55vh;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 50px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile-pic {
  border-radius: 50%;
  height: 20vh;
  width: 20vh;
  align-self: center;
}

.name {
  font-size: 42px;
}

.subtitle {
  font-size: 22px;
}

.line {
  width: 100%;
  border-top: 1px solid white;
}

.icons {
  font-size: 5vh;
  display: flex;
  justify-content: space-between;
}

.icons a {
  color: rgba(255, 255, 255, 0.4);
  text-decoration: none;
}

.icons a:hover {
  color: rgba(255, 255, 255, 1);
}

.icon-container {
  display: flex;
  flex-direction: column;
}

.icon-container a p {
  margin: 0;
  font-size: 1rem;
}

.quote {
  font-size: 22px;
}

.subtitle {
  font-family: "GratoGrotesk-Thin";
  font-weight: unset;
}

@media screen and (max-device-width: 750px) {

  html {
    background-color: black;
  }

  .bg-container {
    display: none;
  }

  .body {
    overflow: auto;
  }

  .profile-box {
    margin-top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 0;
    justify-content: unset;
    background-color: #1c1917;
  }

  .profile-pic {
    margin: 10vh;
    height: 30vh;
    width: 30vh;
  }

  .name {
    font-size: 5vh;
    margin: 0 2vw;
  }

  .subtitle {
    font-size: 2.5vh;
    margin: 0 2vw;
  }

  .quote {
    margin: auto 4vw 2vh 4vw;
    font-size: 2vh;
  }

  .icons {
    margin: auto 4vw 65px 4vw;
  }

  .icon-container a p {
    font-size: 2vh;
  }

  .line {
    border: none;
  }
}